<app-top-nav></app-top-nav>
<mat-card class="example-card">
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx5c-8qgZT0BceT9dz8NRrZlwe3bAOW98CK5uCDg6O2SjDUOum&s" alt="Photo of a Shiba Inu">
    <mat-card-actions>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button mat-raised-button (click)="fileInput.click()">SLECT YOUR PICTURE</button>
        <br><br>
        <button mat-raised-button color="primary" (click)="onUpload()">GET TEXT</button>
    </mat-card-actions>
</mat-card>